---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// http://www.rmimaging.com/projects/inks/inks.html
$lamy_black:      #5c4d48;
$lamy_blue:       #3d68b2;
$lamy_blue_black: #686a60;
$lamy_green:      #00a275;
$lamy_red:        #ff5b59;
$lamy_turquoise:  #0080b9;

$theme_color: $lamy_green;

html {
  background-color: whitesmoke;
}

body {
  background-color: white;
}

body,div,ul,li {
  color: $lamy_blue_black;
}

a, a:focus, a:hover {
  color: $theme_color;
}

h1,h2,h3,h4,h5,h6 {
  color: $lamy_black;
}

h1 {
  color: $lamy_blue_black;
  display: block;
  margin: 50px 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: .1rem;
  text-align: center;
  position: relative;
}

h1:after{
  width:145px;
  content: "";
  border-bottom: 1px solid $theme_color;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: -20px;
  margin:auto;
}

h2 {
  margin: 30px 0;
  line-height: 4rem;
  border-bottom: 1px dashed lightgray;
}

h3 {
  position: relative;
  margin: 30px 0;
}

h3:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -2rem;
  border-left: 1px solid $theme_color;
}

img {
  padding: 30px 0 30px 0;
  max-width: 100%;
  max-height: 100%;
}

iframe {
  padding: 30px 0 30px 0;
}

ul.posts-list {
  padding: 0;
}

li.posts-list-item {
  padding: 15px;
}

li.posts-list-item:hover {
  background-color: whitesmoke;
}

.navbar-default {
  background-color: white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid whitesmoke;
  border-radius: 0;

  .navbar-brand {
    background-color: white;
    color: $lamy_blue_black;
  }
  
  .navbar-nav li a {
    color: $lamy_blue_black;
  }
}

.navbar-default {
  .navbar-brand:hover, .navbar-nav>li>a:hover {
    color: $theme_color;
  }
}

.container-fluid {
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
}

.posts-list {
  list-style: none;
  padding: 0 15px 0 15px;
}

.posts-list-item {
  font-size: 1.5rem;
  line-height: 30px;
  padding-bottom: 45px;
}

.posts-list-title {
  font-size: 2rem;
}

.posts-list-date {
  color: silver;
}

.post-title {
  //text-align: center;
  font-size: 2rem;
}

.footer {
  color: gray;
  border-top: 1px solid gainsboro;
  margin-top: 60px;
  padding: 80px 0;
  background-color: whitesmoke;
}

.page-header,.post-header {
  border: 0;
  margin: 60px 0 120px 0;
  padding: 0;
}

.page-content,.post-content {
  padding: 0 15px;
}

code.highlighter-rouge {
  color: $lamy_blue_black;
  background-color: whitesmoke;
}

