---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// https://mycolor.space/?hex=%2300A275&sub=1
// Classy Palette
$theme-color: #00A275;
$dark-green: #384B42;
$light-green: #9AB0A6;
$dark-blue: #0099E0;
$light-blue: #0099E0;

html {
  background-color: whitesmoke;
}

body {
  background-color: white;
  font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro,YuGothic, '游ゴシック', Arial, "メイリオ", Meiryo, sans-serif;
  line-height: 1.9;
  letter-spacing: .1em;
}

body,div,ul,li {
  color: $dark-green;
}

a, a:focus, a:hover {
  color: $theme-color;
}

h1,h2,h3,h4,h5,h6 {
  color: $dark-green;
  font-weight: bold;
}

h1 {
  color: $dark-green;
  display: block;
  font-size: 3rem;
  letter-spacing: .2rem;
  margin: 100px 0;
  padding: 0;
  position: relative;
  text-align: center;
}

h1:after{
  width:145px;
  content: "";
  border-bottom: 1px solid $theme-color;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: -20px;
  margin:auto;
}

h2 {
  margin: 60px 0 40px 0;
  font-size: 2.5rem;
  line-height: 4rem;
  border-bottom: 1px dashed lightgray;
}

h3 {
  position: relative;
  margin: 30px 0 30px 0;
  font-size: 2rem;
}

h4 {
  margin: 0 0 20px 0;
  font-size: 1.8rem;
}

h5 {
  margin: 0 0 10px 0;
  font-size: 1.6rem;
}

h6 {
  margin: 0 0 10px 0;
  font-size: 1.4rem;
}

//h3:before {
//  position: absolute;
//  display: block;
//  content: "";
//  top: 0;
//  bottom: 0;
//  left: -2rem;
//  border-left: 1px solid $theme-color;
//}

img {
  padding: 30px 0 30px 0;
  max-width: 100%;
  max-height: 100%;
}

iframe {
  padding: 30px 0 30px 0;
}

ul.posts-list {
  padding: 0;
}

li.posts-list-item {
  padding: 15px;
}

li.posts-list-item:hover {
  background-color: whitesmoke;
}

hr {
  margin-top: 60px;
  margin-bottom: 60px;
  border-width: 0 0 8px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 85%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  width: 40px;
}

.navbar-default {
  background-color: white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid whitesmoke;
  border-radius: 0;

  .navbar-brand {
    background-color: white;
    color: $dark-green;
  }
  
  .navbar-nav li a {
    color: $dark-green;
  }
}

.navbar-default {
  .navbar-brand:hover, .navbar-nav>li>a:hover {
    color: $theme-color;
  }
}

.container-fluid {
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
}

.posts-list {
  list-style: none;
  padding: 0 15px 0 15px;
}

.posts-list-item {
  font-size: 1.5rem;
  line-height: 30px;
  padding-bottom: 45px;
}

.posts-list-title {
  font-size: 2rem;
}

.posts-list-date {
  color: $light-green;
}

.post-title {
  //text-align: center;
  font-size: 2rem;
}

.footer {
  color: gray;
  border-top: 1px solid gainsboro;
  margin-top: 60px;
  padding: 80px 0;
  background-color: whitesmoke;
}

.page-header,.post-header {
  border: 0;
  margin: 60px 0 120px 0;
  padding: 0;
}

.page-content,.post-content {
  padding: 0 17px;
}

code.highlighter-rouge {
  color: $dark-green;
  background-color: whitesmoke;
}

@media (max-width: 767px) {
  .page-content {
    padding: 0;
  }
}

div[itemprop="articleBody"] > table {
  margin: 10px 0;
}

div[itemprop="articleBody"] > table tr {
  border-bottom: 1px solid silver;
}

div[itemprop="articleBody"] > table th,
div[itemprop="articleBody"] > table td {
  padding: 5px 20px;
}
