---
layout: default
---

<div class="page-header">
  <span class="title-label">Recent posts</span>
</div>
<ul class="posts-list">
  {% for post in site.posts %}
  <a href="{{ post.url | prepend: site.baseurl }}">
    <li class="posts-list-item">
      <time class="pull-left posts-list-date">
        {{ post.date | date: "%Y-%m-%d" }}
      </time>

      <div class="pull-right">
        {% for tag in post.tags %}
          <span class="label label-default">{{ tag }}</span>
        {% endfor %}
        {% for cat in post.categories %}
          <span class="label label-default">{{ cat }}</span>
        {% endfor %}
      </div>

      <div class="clearfix"></div>
      <span class="posts-list-title">{{ post.title }}</span>
    </li>
  </a>
  {% endfor %}
</ul>

